body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* common.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
}

.navbar__logo img {
  width: 40px; /* Adjust as needed */
  height: auto; /* To maintain aspect ratio */
  margin-right: 10px;
}

.navbar__links {
  display: flex;
}

.navbar__link {
  text-decoration: none;
  color: #fff;
  margin-left: 20px;
}

.navbar__link:hover {
  text-decoration: underline;
}




/* Home.css */

.home {
  text-align: center;
  padding: 20px;
}

.home h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.home p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.home__features {
  display: flex;
  justify-content: center;
}

.home__feature {
  margin: 0 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 300px;
}

.home__feature h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.home__feature p {
  margin-bottom: 20px;
}

.home__feature-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.home__feature-link:hover {
  background-color: #555;
}
/* Quiz.css */

.quiz {
  text-align: center;
}

select {
  margin: 10px 0;
  padding: 5px 10px;
  font-size: 1rem;
}

.question-container {
  margin-top: 20px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.option {
  margin: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: rgb(92, 92, 92);  
  border: 1px solid #ccc;
  border-radius: 5px;
}

.option.correct {
  background-color: green;
  color: white;
}

.option.incorrect {
  background-color: red;
  color: white;
}

.correct-answer {
  margin-top: 10px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
